body{
  background: #eee;
  border-bottom: 10px;
}
.header{
  padding-bottom:5px;
}
.main{
  padding-top: 5px;
  padding-bottom: 5px;
}
.part{
  padding-top: 5px;
  padding-bottom: 5px;
}
.img {
  background-color: #fff;
  text-align: center;
  height: 250px;
}
.img img{
  float: left;
}
.img nav ol li  {
  float: right;
  display: inline;

  padding-right: 35px;
  padding-top: 120px;
  font-size: 30px;
}
.img nav ol li a {
    text-decoration: none;
  }
  .img nav ol a:hover{
    text-decoration: underline;
    color: #292929;
  }

.main img{
  height: 350px;
  width: 300px;
  border-radius: 10px;
}

.heroimg img{
  hieght:500px;
  width: 1000px;
}
.right img{
  height:400px;
  width:400px;
}
.right1 img{
  height: 400px;
  width: 400px;
}
.box{
  color: #fff;
}
