.clsbody {
	BACKGROUND-COLOR: white;
	COLOR: black;
	CURSOR: auto;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 12px;
	LETTER-SPACING: normal;
	LINE-HEIGHT: normal;
}
.clsbody {
	BACKGROUND-COLOR: white;
	COLOR: black;
	CURSOR: auto;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 12px;
	LETTER-SPACING: normal;
	LINE-HEIGHT: normal;
	MARGIN: 0px;
	WIDTH: 100%;
}
.clstable {
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 12px;
	LETTER-SPACING: normal;
	LINE-HEIGHT: normal;
	TEXT-INDENT: 5px;
	WIDTH: 100%
}
.clsheading {
	COLOR: white;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 27px;
	FONT-WEIGHT: bolder
}
.clstd {
	COLOR: black;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 11px
}
.clssmall {
	COLOR: black;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 11px
}
.clsbgtable {
	BACKGROUND-COLOR: #e1e1e1;
	BORDER-BOTTOM: #c2c2c2 thin solid;
	BORDER-LEFT: #b7b7b7 thin;
	BORDER-RIGHT: #b7b7b7 thin;
	BORDER-TOP: #b7b7b7 thin;
	COLOR: blue;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 12px;
	LETTER-SPACING: normal;
	LINE-HEIGHT: normal;
	TEXT-DECORATION: none;
	TEXT-INDENT: 5px;
	WIDTH: 100%
}
.clstdhead {
	BACKGROUND-COLOR: #e1e1e1;
	BORDER-BOTTOM: #b7b7b7 thin solid;
	BORDER-RIGHT: #b7b7b7 thin solid;
	COLOR: #636363;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 12px;
	FONT-WEIGHT: bolder;
	LETTER-SPACING: normal;
	LINE-HEIGHT: normal;
	PADDING-BOTTOM: 1px;
	PADDING-LEFT: 1px;
	PADDING-RIGHT: 1px;
	PADDING-TOP: 1px
}
.clstdline {
	BACKGROUND-IMAGE: url(images/line.gif);
	BACKGROUND-POSITION: 7px top;
	BACKGROUND-REPEAT: repeat-y;
	FONT-FAMILY: Verdana, Arial
}
.clstdline0 {
	BACKGROUND-IMAGE: url(images/line.gif);
	BACKGROUND-POSITION: center center;
	BACKGROUND-REPEAT: repeat-x;
	FONT-FAMILY: Verdana, Arial
}
.clstdline2 {
	BACKGROUND-IMAGE: url(images/line.gif);
	BACKGROUND-POSITION: left center;
	BACKGROUND-REPEAT: repeat-y;
	FONT-FAMILY: Verdana, Arial
}
.clsa {
	COLOR: white;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 11px;
	TEXT-DECORATION: none
}
.clsa:hover {
	COLOR: gold;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 11px;
	TEXT-DECORATION: underline
}
.clstext {
	COLOR: black;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 11px;
	LETTER-SPACING: normal;
	LINE-HEIGHT: normal;
	TEXT-ALIGN: justify;
	TEXT-INDENT: 2px
}
.clstoptable {
	BACKGROUND-COLOR: #336699;
	FONT-FAMILY: Verdana, Arial;
	LETTER-SPACING: normal;
	LINE-HEIGHT: normal;
	TEXT-INDENT: 5px;
	WIDTH: 100%
}
.clstdbg {
	BACKGROUND-COLOR: #336699;
	BORDER-BOTTOM: #a5c3e0 thin;
	BORDER-LEFT: #a5c3e0;
	BORDER-RIGHT: #a5c3e0 thin;
	BORDER-TOP: #a5c3e0;
	COLOR: white;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 12px;
	FONT-WEIGHT: bolder;
	LETTER-SPACING: normal;
	LINE-HEIGHT: normal;
	TEXT-ALIGN: center;
	TEXT-INDENT: 1px
}
.clstdlinkhead {
	BACKGROUND-COLOR: #6699cc;
	BORDER-BOTTOM: #003366 thin;
	BORDER-LEFT: #d7d7d7 thin;
	BORDER-RIGHT: black thin;
	BORDER-TOP: #d7d7d7 thin;
	COLOR: black;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 12px;
	FONT-WEIGHT: bolder;
	TEXT-ALIGN: center
}
.clstdlinksub1 {
	BACKGROUND-COLOR: #ffffff;
	BORDER-LEFT: #6699cc thin solid;
	BORDER-RIGHT: #6699cc thin solid;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 11px
}
.clstdlinksub2 {
	BACKGROUND-COLOR: #ffffff;
	BORDER-BOTTOM: #6699cc thin solid;
	BORDER-LEFT: #6699cc thin solid;
	BORDER-RIGHT: #6699cc thin solid;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 11px
}
.clsstateslink {
	COLOR: black;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 11px;
	TEXT-DECORATION: none
}
.clsstateslink:hover {
	COLOR: red;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 11px;
	TEXT-DECORATION: underline
}
.clsphototop {
	BORDER-BOTTOM: black thin;
	BORDER-LEFT: black thin;
	BORDER-RIGHT: black thin;
	BORDER-TOP: black thin;
	COLOR: gray;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 11px;
	FONT-WEIGHT: bolder;
	HEIGHT: 20px;
	background-position: center;
}
.clswhite {
	COLOR: white;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 12px;
	FONT-WEIGHT: bolder;
	TEXT-DECORATION: none
}
.clswhite:hover {
	COLOR: gold;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 12px;
	FONT-WEIGHT: bolder;
	TEXT-DECORATION: underline
}
.clsorangelink {
	COLOR: gold;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 11px;
	FONT-WEIGHT: bolder;
	TEXT-DECORATION: none
}
.clsorangelink:hover {
	COLOR: #ff7800;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 11px;
	TEXT-DECORATION: underline
}
.clsnewlink {
	COLOR: #1e355e;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 10px;
	TEXT-DECORATION: none
}
.clsnewlink:hover {
	COLOR: #1e355e;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 10px;
	FONT-WEIGHT: normal;
	TEXT-DECORATION: underline
}
.clsbgblue {
	BACKGROUND-COLOR: #76c8f2;
	COLOR: black;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 12px;
	FONT-WEIGHT: bolder;
	TEXT-ALIGN: center;
	text-decoration:none;
}
.clsbgblue1 {
	BACKGROUND-COLOR: #76c8f2;
	COLOR: black;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 11px;
	FONT-WEIGHT: bold;
	TEXT-ALIGN: center;
	text-decoration:none;
}
.clsbgblue2 {
	BACKGROUND-COLOR: #B5DDF2;
	COLOR: black;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 11px;
	TEXT-ALIGN: center;
	text-decoration:none;
}
.clsbgbluesub {
	BACKGROUND-COLOR: #d2e9f5;
	COLOR: black;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 11px;
	text-decoration:none
}
.clsbgpink {
	BACKGROUND-COLOR: #deb5cf;
	COLOR: black;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 12px;
	FONT-WEIGHT: bolder;
	TEXT-ALIGN: center;
	text-decoration:none;
}
.clsbgpinksub {
	BACKGROUND-COLOR: #ecd4e3;
	COLOR: black;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 11px
}
.clsbgcream {
	BACKGROUND-COLOR: #fffbc7;
	COLOR: black;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 12px;
	FONT-WEIGHT: bolder;
	TEXT-ALIGN: center
}
.clsbgcreamsub {
	BACKGROUND-COLOR: #fefde8;
	COLOR: black;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 11px
}
.clsbggray {
	BACKGROUND-COLOR: #cccccc;
	COLOR: black;
	FONT-FAMILY: Verdana, Arial;
	FONT-WEIGHT: bold;
	TEXT-ALIGN: center;
	margin-top: 0px;
	font-size: 12px;
}
.clsbggraysub {
	BACKGROUND-COLOR: #ececec;
	COLOR: black;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 11px
}
.clstdgold {
	BACKGROUND-COLOR: #003366;
	COLOR: gold;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 12px;
	FONT-WEIGHT: bolder;
	LETTER-SPACING: normal;
	LINE-HEIGHT: normal;
	TEXT-ALIGN: center;
	TEXT-INDENT: 1px
}
.clscontent {
	COLOR: black;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 11px;
	LETTER-SPACING: normal;
	LINE-HEIGHT: normal;
	TEXT-ALIGN: justify;
	TEXT-INDENT: 2px
}
.clsimgdot {
	BACKGROUND-IMAGE: url(images\1dot.gif);
	BACKGROUND-REPEAT: repeat-x
}
.clsitinhead {
	COLOR: #666666;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 12px;
	FONT-WEIGHT: bolder;
	TEXT-DECORATION: none
}
.clsitinhead:hover {
	COLOR: black;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 12px;
	FONT-WEIGHT: bolder;
	TEXT-DECORATION: underline
}
.clsitinmainhead {
	COLOR: #336699;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 16px;
	FONT-WEIGHT: bolder;
	LETTER-SPACING: normal;
	TEXT-ALIGN: center;
	TEXT-DECORATION: none
}
.clsitinsubhead {
	COLOR: #336699;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 12px;
	FONT-WEIGHT: bolder;
	TEXT-ALIGN: center;
	TEXT-DECORATION: none
}
.clsnew {
	BACKGROUND-COLOR: #d2e9f5;
	COLOR: black;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 11px;
	TEXT-ALIGN: justify
}
.clsnewpink {
	BACKGROUND-COLOR: #ecd4e3;
	COLOR: black;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 11px;
	TEXT-ALIGN: justify
}
.clsnewcream {
	BACKGROUND-COLOR: #fefde8;
	COLOR: black;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 11px;
	TEXT-ALIGN: justify
}
.clsnewgray {
	BACKGROUND-COLOR: #ececec;
	COLOR: black;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 11px;
	TEXT-ALIGN: justify
}
.horline {
	background-image: url(picture-india-tourism/dot.jpg);
	background-repeat: repeat-x;
}
.verline {
	background-image: url(picture-india-tourism/dot.jpg);
	background-repeat: repeat-y;
	background-position: center;
}
.bottombartext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #7B7676;
	text-decoration: none;
}
.bottombartext .bottombartext1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #7B7676;
	text-decoration: none;
}
.bottombartext:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #7B7676;
	text-decoration: underline;
}
.horlinebottom {
	background-image: url(picture-india-tourism/dot1.jpg);
	background-repeat: repeat-x;
}
.maillink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	background: #000000;
	text-decoration: none;
}
.maillink:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	background: #000000;
	text-decoration: underline;
}
.bottomweblinks {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #0099FF;
	text-decoration: underline;
}
.bottomweblinks:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #0099FF;
	text-decoration: none;
}
.bottomwebtext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #999999;
	text-decoration: none;
}
.bottomwebtext:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #999999;
	text-decoration: underline;
}
.bottomitenery {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
}
.bottomitenery:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #746E09;
	text-decoration: none;
}
.toplink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
}
.toplink:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.bottomitenerypatch {
	background-color: #000000;
}
.bgoneachpage {
	background-color: D8D8FB;
}
.itineriesbg {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	background-color: EDDDBE;
}
.itineriestextdays {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #666666;
	text-decoration: none;
}
.enquirytext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #666666;
	text-decoration: none;
}
.lightenquirybg {
	background-color: F9F1E3;
}
.enquirylink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: underline;
}
.enquirylink:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
}
.textmatterhead {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
}
.subhead {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
}
.itinertablebgtop {
	background-color: 003366;
}
.itinertablebgtop1 {
	background-color: 000000;
}
.itinertablehead {
	font-family: Century Gothic;
	font-size: 12px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: underline;
}
.itinertabletext {
	font-family: verdana;
	font-size: 10px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}
.itinertablemore {
	font-family: verdana;
	font-size: 10px;
	font-weight: bold;
	color: #333333;
	text-decoration: underline;
}
.itinertablemore:hover {
	font-family: verdana;
	font-size: 10px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}
.dothorline {
	background-image: url(images/hordot.jpg);
	background-repeat: repeat-x;
	background-position: center;
}
.hometoplink {
	font-family: verdana;
	font-size: 11px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}
.hometoplink:hover {
	font-family: verdana;
	font-size: 11px;
	font-weight: bold;
	color: #333333;
	text-decoration: underline;
}
.topcollage {
	background-image: url(images/topbanner1.jpg);
	background-repeat: no-repeat;
}
.whitehorline {
	background-image: url(images/dotwhite.jpg);
	background-repeat: repeat-x;
}
.textmatter {
	font-family: verdana;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.clsvLine {
	BACKGROUND: url(images/vline.gif) center 100%;
	background-position: top center;
	BACKGROUND-REPEAT: repeat-y
}
.clsHLine {
	BACKGROUND: url(images/hline.gif) left 50%;
	background-position: middle center;
	BACKGROUND-REPEAT: repeat-x;
}
.clsmore {
	font-family:Verdana;
	font-size:10px;
	color:#FF0000;
	text-decoration:none;
}
.days {
	font-family:Verdana;
	font-size:10px;
	color:#31659C;
	text-decoration:none;
	font-weight:bold;
}
.clsnote {
	font-family:Verdana;
	font-size:10px;
	color: #000549;
	text-decoration:none;
}
.clshead1 {
	font-family:Verdana;
	font-size:12px;
	color: #000549;
	text-decoration:none;
}
.clshead2 {
	font-family:Verdana;
	font-size:11px;
	color: #000000;
	text-decoration:none;
}
 MARGIN: 0px;
 WIDTH: 100%
}
.clstable {
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 12px;
	LETTER-SPACING: normal;
	LINE-HEIGHT: normal;
	TEXT-INDENT: 5px;
	WIDTH: 100%
}
.clsheading {
	COLOR: white;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 27px;
	FONT-WEIGHT: bolder
}
.clstd {
	COLOR: black;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 11px
}
.clssmall {
	COLOR: black;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 11px
}
.clsbgtable {
	BACKGROUND-COLOR: #e1e1e1;
	BORDER-BOTTOM: #c2c2c2 thin solid;
	BORDER-LEFT: #b7b7b7 thin;
	BORDER-RIGHT: #b7b7b7 thin;
	BORDER-TOP: #b7b7b7 thin;
	COLOR: blue;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 12px;
	LETTER-SPACING: normal;
	LINE-HEIGHT: normal;
	TEXT-DECORATION: none;
	TEXT-INDENT: 5px;
	WIDTH: 100%
}
.clstdhead {
	BACKGROUND-COLOR: #e1e1e1;
	BORDER-BOTTOM: #b7b7b7 thin solid;
	BORDER-RIGHT: #b7b7b7 thin solid;
	COLOR: #636363;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 12px;
	FONT-WEIGHT: bolder;
	LETTER-SPACING: normal;
	LINE-HEIGHT: normal;
	PADDING-BOTTOM: 1px;
	PADDING-LEFT: 1px;
	PADDING-RIGHT: 1px;
	PADDING-TOP: 1px
}
.clstdline {
	BACKGROUND-IMAGE: url(images/line.gif);
	BACKGROUND-POSITION: 7px top;
	BACKGROUND-REPEAT: repeat-y;
	FONT-FAMILY: Verdana, Arial
}
.clstdline0 {
	BACKGROUND-IMAGE: url(images/line.gif);
	BACKGROUND-POSITION: center center;
	BACKGROUND-REPEAT: repeat-x;
	FONT-FAMILY: Verdana, Arial
}
.clstdline2 {
	BACKGROUND-IMAGE: url(images/line.gif);
	BACKGROUND-POSITION: left center;
	BACKGROUND-REPEAT: repeat-y;
	FONT-FAMILY: Verdana, Arial
}
.clsa {
	COLOR: white;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 11px;
	TEXT-DECORATION: none
}
.clsa:hover {
	COLOR: gold;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 11px;
	TEXT-DECORATION: underline
}
.clstext {
	COLOR: black;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 11px;
	LETTER-SPACING: normal;
	LINE-HEIGHT: normal;
	TEXT-ALIGN: justify;
	TEXT-INDENT: 2px
}
.clstoptable {
	BACKGROUND-COLOR: #336699;
	FONT-FAMILY: Verdana, Arial;
	LETTER-SPACING: normal;
	LINE-HEIGHT: normal;
	TEXT-INDENT: 0px;
	WIDTH: 100%
}
.clstdbg {
	BACKGROUND-COLOR: #336699;
	BORDER-BOTTOM: #a5c3e0 thin;
	BORDER-LEFT: #a5c3e0;
	BORDER-RIGHT: #a5c3e0 thin;
	BORDER-TOP: #a5c3e0;
	COLOR: white;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 12px;
	FONT-WEIGHT: bolder;
	LETTER-SPACING: normal;
	LINE-HEIGHT: normal;
	TEXT-ALIGN: center;
	TEXT-INDENT: 1px
}
.clstdlinkhead {
	BACKGROUND-COLOR: #6699cc;
	BORDER-BOTTOM: #003366 thin;
	BORDER-LEFT: #d7d7d7 thin;
	BORDER-RIGHT: black thin;
	BORDER-TOP: #d7d7d7 thin;
	COLOR: black;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 12px;
	FONT-WEIGHT: bolder;
	TEXT-ALIGN: center
}
.clstdlinksub1 {
	BACKGROUND-COLOR: #ffffff;
	BORDER-LEFT: #6699cc thin solid;
	BORDER-RIGHT: #6699cc thin solid;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 11px
}
.clstdlinksub2 {
	BACKGROUND-COLOR: #ffffff;
	BORDER-BOTTOM: #6699cc thin solid;
	BORDER-LEFT: #6699cc thin solid;
	BORDER-RIGHT: #6699cc thin solid;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 11px
}
.clsstateslink {
	COLOR: black;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 11px;
	TEXT-DECORATION: none
}
.clsstateslink:hover {
	COLOR: red;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 11px;
	TEXT-DECORATION: underline
}
.clsphototop {
	BORDER-BOTTOM: black thin;
	BORDER-LEFT: black thin;
	BORDER-RIGHT: black thin;
	BORDER-TOP: black thin;
	COLOR: gray;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 11px;
	FONT-WEIGHT: bolder;
	HEIGHT: 20px
}
.clswhite {
	COLOR: white;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 12px;
	FONT-WEIGHT: bolder;
	TEXT-DECORATION: none
}
.clswhite:hover {
	COLOR: gold;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 12px;
	FONT-WEIGHT: bolder;
	TEXT-DECORATION: underline
}
.clsorangelink {
	COLOR: gold;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 11px;
	FONT-WEIGHT: bolder;
	TEXT-DECORATION: none
}
.clsorangelink:hover {
	COLOR: #ff7800;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 11px;
	TEXT-DECORATION: underline
}
.clsnewlink {
	COLOR: #1e355e;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 10px;
	TEXT-DECORATION: none
}
.clsnewlink:hover {
	COLOR: #1e355e;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 10px;
	FONT-WEIGHT: normal;
	TEXT-DECORATION: underline
}
.clsbgblue {
	BACKGROUND-COLOR: #76c8f2;
	COLOR: black;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 12px;
	FONT-WEIGHT: bolder;
	TEXT-ALIGN: center;
	text-decoration:none;
}
.clsbgbluesub {
	BACKGROUND-COLOR: #d2e9f5;
	COLOR: black;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 11px;
	text-decoration:none
}
.clsbgpink {
	BACKGROUND-COLOR: #deb5cf;
	COLOR: black;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 12px;
	FONT-WEIGHT: bolder;
	TEXT-ALIGN: center;
	text-decoration:none;
}
.clsbgpinksub {
	BACKGROUND-COLOR: #ecd4e3;
	COLOR: black;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 11px
}
.clsbgcream {
	BACKGROUND-COLOR: #fffbc7;
	COLOR: black;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 12px;
	FONT-WEIGHT: bolder;
	TEXT-ALIGN: center
}
.clsbgcreamsub {
	BACKGROUND-COLOR: #fefde8;
	COLOR: black;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 11px
}
.clsbggraysub {
	BACKGROUND-COLOR: #ececec;
	COLOR: black;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 11px
}
.clstdgold {
	BACKGROUND-COLOR: #003366;
	COLOR: gold;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 12px;
	FONT-WEIGHT: bolder;
	LETTER-SPACING: normal;
	LINE-HEIGHT: normal;
	TEXT-ALIGN: center;
	TEXT-INDENT: 1px
}
.clscontent {
	COLOR: black;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 11px;
	LETTER-SPACING: normal;
	LINE-HEIGHT: normal;
	TEXT-ALIGN: justify;
	TEXT-INDENT: 2px
}
.clsimgdot {
	BACKGROUND-IMAGE: url(images\1dot.gif);
	BACKGROUND-REPEAT: repeat-x
}
.clsitinhead {
	COLOR: #666666;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 12px;
	FONT-WEIGHT: bolder;
	TEXT-DECORATION: none
}
.clsitinhead:hover {
	COLOR: black;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 12px;
	FONT-WEIGHT: bolder;
	TEXT-DECORATION: underline
}
.clsitinmainhead {
	COLOR: #336699;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 16px;
	FONT-WEIGHT: bolder;
	LETTER-SPACING: normal;
	TEXT-ALIGN: center;
	TEXT-DECORATION: none
}
.clsitinsubhead {
	COLOR: #336699;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 12px;
	FONT-WEIGHT: bolder;
	TEXT-ALIGN: center;
	TEXT-DECORATION: none
}
.clsnew {
	BACKGROUND-COLOR: #d2e9f5;
	COLOR: black;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 11px;
	TEXT-ALIGN: justify
}
.clsnewpink {
	BACKGROUND-COLOR: #ecd4e3;
	COLOR: black;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 11px;
	TEXT-ALIGN: justify
}
.clsnewcream {
	BACKGROUND-COLOR: #fefde8;
	COLOR: black;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 11px;
	TEXT-ALIGN: justify
}
.clsnewgray {
	BACKGROUND-COLOR: #ececec;
	COLOR: black;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 11px;
	TEXT-ALIGN: justify
}
.maintexthead {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color:#134587;
	text-decoration: none;
	font-weight: bold;
	padding-top:10px;
}
.maintexthead:hover {
	color: #6D70F4;
	text-decoration: underline;
}
.horline {
	background-image: url(picture-india-tourism/dot.jpg);
	background-repeat: repeat-x;
}
.bottombartext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #7B7676;
	text-decoration: none;
}
.bottombartext:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #7B7676;
	text-decoration: underline;
}
.horlinebottom {
	background-image: url(picture-india-tourism/dot1.jpg);
	background-repeat: repeat-x;
}
.bottomweblinks {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #0099FF;
	text-decoration: underline;
}
.bottomweblinks:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #0099FF;
	text-decoration: none;
}
.bottomwebtext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #999999;
	text-decoration: none;
}
.bottomwebtext:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: normal;
	color: #999999;
	text-decoration: underline;
}
.bottomitenery {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
}
.bottomitenery:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #746E09;
	text-decoration: none;
}
.toplink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
}
.toplink:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
}
.bgoneachpage {
	background-color: D8D8FB;
}
.bgoneachpage1 {
	background-color: #D3D3D2;
}
.itineriesbg {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000000;
	text-decoration: none;
	background-color: EDDDBE;
}
.itineriestextdays {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #666666;
	text-decoration: none;
}
.enquirytext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	font-weight: bold;
	color: #666666;
	text-decoration: none;
}
.lightenquirybg {
	background-color: F9F1E3;
}
.enquirylink {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: underline;
}
.enquirylink:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	color: #FF0000;
	text-decoration: none;
}
.textmatterhead {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
}
.subhead {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
}
.itinertablebgtop {
	background-color: 003366;
}
.itinertablelink {
	font-family: verdana;
	font-size: 11px;
	font-weight: bold;
	color: #0000ff;
	text-decoration: underline;
}
.itinertablelink:hover {
	font-family: verdana;
	font-size: 11px;
	font-weight: bold;
	color: #31659C;
	text-decoration: underline;
}
.itinertabletext {
	font-family: verdana;
	font-size: 10px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}
.itinertablemore {
	font-family: verdana;
	font-size: 10px;
	font-weight: bold;
	color: #333333;
	text-decoration: underline;
}
.itinertablemore:hover {
	font-family: verdana;
	font-size: 10px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}
.dothorline {
	background-image: url(images/hordot.jpg);
	background-repeat: repeat-x;
	background-position: center;
}
.hometoplink {
	font-family: verdana;
	font-size: 11px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}
.hometoplink:hover {
	font-family: verdana;
	font-size: 11px;
	font-weight: bold;
	color: #333333;
	text-decoration: underline;
}
.whitehorline {
	background-image: url(images/dotwhite.jpg);
	background-repeat: repeat-x;
}
.textmatter {
	font-family: verdana;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
}
.clsvLine {
	BACKGROUND: url(images/vline.gif) center 100%;
	background-position: top center;
	BACKGROUND-REPEAT: repeat-y
}
.clsHLine {
	BACKGROUND: url(images/hline.gif) left 50%;
	background-position: middle center;
	BACKGROUND-REPEAT: repeat-x;
}
.clsmore {
	font-family:Verdana;
	font-size:10px;
	color:#FF0000;
	text-decoration:none;
}
.clsOpenPopUp {
	font-family:Verdana;
	font-size:9px;
	color:#000000;
	text-decoration:none;
}
.clsOpenPopUp:hover {
	font-family:Verdana;
	font-size:9px;
	color:red;
	text-decoration:underline;
}
.clsBlackBGWhiteText {
	font-family: verdana;
	font-size: 11px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
	text-align: center;
	background: #000000
}
.clsGreyBGBlackText {
	font-family: verdana;
	font-size: 10px;
	font-weight: none;
	color: #000000;
	text-decoration: none;
	text-align: center;
	background: #E1E1E1
}
.clsBg1 {
	BACKGROUND: url(images/bg1.gif) left 50%;
	background-position: middle center;
	BACKGROUND-REPEAT: repeat-x;
	font-family:"Times New Roman", Times, serif;
	font-size:14px;
	color:#ffffff;
}
.head {
	font-family:"Times New Roman", Times, serif;
	font-size:14px;
	color:#FFFFFF;
}
.clspagination {
	font-family: verdana, arial;
	color: #ffffff;
	font-size: 9px;
	font-weight: none;
	text-decoration: none;
	border-style: solid;
	border-width: 1px;
	border-color: #336699;
	line-height: 18px;
	width: 16px;
	background-color: #6289C5;
}
.clspagination:hover {
	font-family: verdana, arial;
	color: #333333;
	font-size: 10px;
	font-weight: none;
	text-decoration: underline;
	border-style: solid;
	border-width: 1px;
	border-color: #D78499;
	line-height: 18px;
	width: 16px;
	background-color: #FDEFF3;
}
.ClsHotelFormText1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 10px;
	font-weight: none;
	text-decoration: none;
	background-color: #F4F4F4;
}
.ClsHotelFormText2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 10px;
	font-weight: none;
	text-decoration: none;
}
.ClsCarHeading {
	COLOR: Black;
	FONT-FAMILY: Verdana, Arial;
	FONT-SIZE: 22px;
	FONT-WEIGHT: bolder
}
.ClsCarText1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color:#FFFFFF;
	font-size: 15px;
	text-align:justify;
	font-weight: bold;
	BACKGROUND: url(images/bg1.gif) left 50%;
	background-position: middle center;
	BACKGROUND-REPEAT: repeat-x;
	text-decoration: none;
}
.ClsCarText2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #000000;
	font-size: 11px;
	text-align:justify;
	font-weight: none;
	text-decoration: none;
}
.hotelbar {
	background-image: url(images/hotel_bar.jpg);
	color: #FFFFFF;
	text-decoration: none;
	font-family: Century Gothic;
	font-size: 20px;
	font-weight: bold;
}
.whitelink {
	font-family: verdana;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: none;
}
.whitelink:hover {
	font-family: verdana;
	font-size: 11px;
	font-weight: normal;
	color: #FFFFFF;
	text-decoration: underline;
}
.topcollage1 {
	background-image: url(http://www.india-tourism.net/images/toptopbanner_new.jpg);
	background-repeat: no-repeat;
}
.verlinecenter {
	background-image: url(picture-india-tourism/dot.jpg);
	background-repeat: repeat-y;
	background-position: center;
}
.itineryhead {
	font-family: verdana;
	font-size: 11px;
	font-weight: bold;
	color: #000000;
	text-decoration: underline;
}
.topcollagenew {
	background-image: url(images/topbanner3.jpg);
	background-repeat: no-repeat;
}
.btnavigationlink {
	font-family: verdana;
	font-size: 11px;
	font-weight: bold;
	color: #595cdb;
	text-decoration: underline;
}
.btnavigationlink1 {
	font-family: verdana;
	font-size: 11px;
	font-weight: bold;
	color: #999999;
	text-decoration: none;
}
.member {
	font-family:"MS Sans Serif";
	font-size:11px;
	color:#333333;
	line-height:19px;
	padding:5px 0px;
	font-weight: normal;
	text-decoration: none;
	background-color: #FFFFFF;
	text-align: left;
}
.member a {
	color:#003C8B;
	text-decoration:none;
}
.member a:hover {
	color:#990000;
	text-decoration:none;
}
/*css added by Roshni 27-march-2012*/
table.textmatter tr td input {
	border:1px solid grey;
}
table.textmatter tr td select {
	border:1px solid grey;
}
table.textmatter tr td textarea {
	border:1px solid grey;
}
.maintexthead a {
	color:#3C6EB7;
}
div.scroller {
	position:relative;
	height:117px;
	width:737px;
	display:block;
	overflow:hidden;
	border:none;
}
div.scrollingtext {
	position:absolute;
	white-space:nowrap;
	font-family:'Trebuchet MS', Arial;
	font-size:12px;
	font-weight:mormal;
	color:#000000;
}