/*CSS on 14th Feb 2012*  - Roshni*/
h1 {
	font-size:20px;
	margin:0px;
}
#Sticky {
	bottom: 0;
	color: #000000;
	float: right;
	margin-bottom:35px;
	margin-right: auto;
	position: fixed;
	right: 0;
	width: 50px;
}
.itinerytopbold {
	font-family: "century Gothic";
	font-size: 16px;
	font-weight: bold;
	color: #FFFFFF;
	text-decoration: none;
}
#Sticky_old {
	color:#000;
	position:fixed;
	/*adjust location*/
	right: 0px;
	left: 0px;
	bottom: 0px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	/* Netscape 4, IE 4.x-5.0/Win and other lesser browsers will use this */
	_position: absolute;
	margin-bottom: 68px;
}
#Sticky p {
	float:right;
}
.form_page_content {
	color: #555555;
	float: left;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	/*    height:375px;
*/    width:707px;
	padding-left:17px;
	background-color:#F3F3F3;
	border:3px solid #053E75;
	z-index:100;
	padding-top:27px;
}
.form_page_content table tr td {
	padding:6px 0px 6px 0px;
}
.form_page_content a {
	font-weight:bold;
	color:#006633;
}
.form_page_content strong {
	font-size:15px;
	margin-bottom:5px;
}
.form_page_content select {
	width:166px;
	font-size:11px;
	border:1px solid #999999;
	padding:1px;
}
.form_page_content_small_select select {
	width:53px !important;
}
.form_page_content_small_select_2 select {
	width:81px !important;
}
.form_page_content_small_input input {
	width:29px !important;
}
.form_page_content_small_input_spl {
	width:103px !important;
}
.form_page_content input {
	width:160px;
	font-size:11px;
	border:1px solid #999999;
	padding:2px;
}
.form_page_content textarea {
	width:160px;
	font-size:11px;
	padding:2px;
	height:70px;
	border:1px solid #999999;
}
.input_checkbox {
	width:20px !important;
}
.input_button {
	width:100px !important;
	height:30px;
	background-color:#006633;
	font-weight:bold;
	border:1px solid #003333;
	padding:5px 5px 10px 5px;
	color:#FFFFFF;
	font-size:13px !important;
	cursor:pointer;
}
.submit_button {
	background-color:#336699;
	text-align:center;
	width:70px!important;
	height:25px!important;
	padding-bottom:3px;
	margin-right:10px;
	float:left;
	color:#FFFFFF;
	font-weight:bold;
	cursor:pointer;
}
.chat_button {
	float: left;
	width: 160px;
	margin-left:25px;
}
.chat_button img {
	margin-top:-35px;
}
.copy_cmi {
	float:right;
	width:30%;
	font-weight:normal;
	font-size:10px;
	color:#999999;
}
.copy_cmi a {
	text-decoration:none;
	color:#999999;
}
.home_centre_img {
	padding-right:10px;
}
.logoname {
	font-family: "century Gothic";
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
	color: #FFFFFF;
	text-decoration: none;
}
h2 {
	font-size:14px;
	margin: 8px;
	height: 18px;
}
#sitemaphead {
	font-family: arial;
	font-size: 12px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	text-align: center;
	word-spacing: 0.20em;
	margin-top: 8px;
}
#sitemaphead a {
	color: #000000;
	text-decoration: underline;
}
#sitemaphead a:hover {
	font-family: arial;
	font-size: 12px;
	font-weight: normal;
	color: #666666;
	text-decoration: none;
}
.sitemapbtmtbhead {
	font-family: verdana;
	font-size: 11px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
	background-color: #cccccc;
	padding: 4px;
	text-align: center;
}
.sitemapbtmtbheadlink {
	font-family: arial;
	font-size: 12px;
	font-weight: normal;
	color: #333333;
	text-decoration: none;
	background-color: #f5f5f5;
	padding: 3px;
	text-align: left;
}
.itinsitemap {
	font-family: arial;
	font-size: 14px;
	font-weight: bold;
	color: #0f3f6f;
	text-decoration: none;
	line-height: 20px;
	margin-left: 10px;
	list-style-type: none;
}
.itinsitemapsub {
	font-family: arial;
	font-size: 11px;
	font-weight: bold;
	color: #336799;
	text-decoration: none;
	line-height: 20px;
}
.itinsitemapsub ul li {
	font-family: arial;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	line-height: 20px;
}
.itinsitemapsub a {
	color: #000000;
	text-decoration: underline;
}
.itinsitemapsub a:hover {
	font-family: arial;
	font-size: 11px;
	font-weight: normal;
	color: #000000;
	text-decoration: none;
	line-height: 20px;
}
#content_wrapper {
	width:100%;
	height:100%;
	float:left;
}
#content_wrapper .content_left {
	width:100%;
	height:100%;
	float:left;
}
#content_wrapper .content_left .itinpanel1 {
	width:248px;
	height:100%;
	float:left;
	margin-bottom:3px;
	margin-top: 3px;
	padding-left: 6px;
}
#content_wrapper .content_left .itinpanel2 {
	width:200px;
	height:100%;
	float:left;
	margin-bottom:6px;
	margin-top: 6px;
	padding-left: 6px;
}
.itinpanel1 ol {
	margin:0;
	padding:0;
}
.itinpanel1 ol li ul {
	margin:0 0 0 15px;
	padding:0;
	list-style-image: url(../images/arrow_sitemap.gif);
}
.itinpanel2 ol {
	margin:0;
	padding:0;
}
.itinpanel2 ol li ul {
	margin:0 0 0 15px;
	padding:0;
	list-style-image: url(../images/arrow_sitemap.gif);
}
.sitemapblk {
	color: #ffffff;
	margin-left: 10px;
}
.sitemapbgborder {
	height: 2px;
	float: left;
	background-color: #336799;
	display: inline;
	width: 100%;
	margin-top: 5px;
	margin-right: auto;
	margin-bottom: 5px;
	margin-left: auto;
}
#sitemap_wrapper {
	height: 100%;
	width: 100%;
	margin-top: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-left: auto;
}
.currency_convert {
	background-color: #EFEFEF;
	display: block;
	padding: 5px;
	height: 250px;
	width: 210px;
	border: thin solid #999999;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 15px;
	margin-left: 5px;
}
.distance_convert {
	background-color: #EFEFEF;
	display: block;
	padding: 5px;
	height: 150px;
	width: 350px;
	border: thin solid #999999;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 15px;
	margin-left: 5px;
}
.dmtformfield {
	float: left;
	font-family:"Trebuchet MS";
	font-size:12px;
	font-weight:bold;
}
.enquirytext {
	font-family: arial;
	font-size: 11px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
	text-align:left;
	font-weight:bold;
}